In [ ]:
#!pip install google
#!pip install pandas

In [15]:
import pandas as pd
import pandas as pd
import numpy as np
import csv
import warnings
warnings.filterwarnings('ignore')

In [16]:
#read the file
file_path = "/Users/kyimoetun/Downloads/UNOS/Copy of Delimited Text File 202112/Deceased Donor/DECEASED_DONOR_DATA.DAT"
df = pd.read_csv(file_path, sep='\t', header=None, encoding='ISO-8859-1')

In [17]:
df.head(10)

,0,1,2,3,4,5,6,7,8,9,...,520,521,522,523,524,525,526,527,528,529
0,NaN,2,3,B,44,35,4,97,M,DILLONVALE,...,.,96,.,95,.,7,4,.,.,3441
1,N,24,.,O,7,21,4,7,M,ALBUQURQUE,...,.,.,.,95,.,2,3,.,.,8866
2,N,26,1,A,8,27,2,3,M,SANFORD,...,.,95,.,.,.,1,2,.,.,14911
3,N,3,28,O,53,58,2,5,M,FARMVILLE,...,.,95,.,.,.,1,3,.,.,14911
4,N,32,11,O,44,53,5,6,F,BIRMINGHAM,...,.,95,.,.,.,1,3,.,.,11346
5,N,1,.,O,8,57,3,6,F,CLANTON,...,.,95,.,.,.,1,.,.,.,11346
6,N,2,24,B,27,44,3,4,F,RAINESVILL,...,.,95,.,95,.,2,3,.,.,11346
7,N,11,28,A,7,53,2,9,M,SEMMES,...,.,95,.,95,.,1,.,.,.,11346
8,N,1,11,O,8,35,3,.,F,ROME,...,.,95,.,.,.,.,.,.,.,4929
9,N,2,.,A,8,27,3,6,F,ABERDEEN,...,.,95,.,.,.,2,3,.,.,14353